{# Header / navigation partagé pour tout le site #}
<header class="site-header">
  <div class="container">
    <a class="brand" href="{{ path('homepage') }}">
      <div class="brand-logo" aria-hidden="true">logo</div>
      <div class="brand-title">gestionRDV</div>
    </a>

    <nav id="mainNav" class="site-nav" role="navigation">
      <a href="">Prendre RDV</a>
        <a href="">Connexion</a>
    </nav>
  </div>
</header>