{% extends 'base.html.twig' %}

{% block title %}Nouveau Rendez-vous{% endblock %}

{% block body %}
   {{ form_start(form, {
        attr: { 'data-turbo': 'false' }
    }) }}
        {{ form_row(form.debut) }}
        {{ form_row(form.medecin) }}

        <button type="submit" class="btn btn-primary">
            Voir les créneaux disponibles
        </button>
    {{ form_end(form) }}

{% endblock %}
