{% extends 'base.html.twig' %}

{% block title %}gestionRDV{% endblock %}

{% block body %}

<h1>Bienvenue sur la page d'accueil de gestionRDV</h1>

{% if app.user %}
    <p>Bonjour, {{ app.user.prenom }} {{ app.user.nom }} ! Vous êtes connecté.</p>
{% else %}
    <p>Vous n'êtes pas connecté. <a href="">Connectez-vous ici</a>.</p>
{% endif %}
{% endblock %}
